/*page1*/
body {
    background-color: black;
    text-align: center;
}
#main-heading {
    font-family: Impact, sans-serif; /* Устанавливаем шрифт */
    color: cornsilk; /* Устанавливаем цвет текста */
    font-size: 120px;
}
.header__list {
    font-family: Impact, sans-serif;
    color: burlywood;
    font-size: 40px;
    padding: 10px; /* Убираем внутренний отступ у списка */
}

/* Для ссылок */
a {
    color: burlywood;
    text-decoration: none; /* Убираем подчеркивание */
}
/* При наведении курсора на ссылку */
a:hover {
    color: indianred; /* Цвет ссылки при наведении */
}

.login-container {
    font-family: Impact, sans-serif;
    color: indianred;
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}
button.continue-button {
    font-family: Impact, sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    background-color: indianred;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/*pageMeme*/
body1 {
    margin: 20px;
    padding: 0;
    width: 100%;
}

.memes-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.memes-container img {
    width: 40%;
    height: auto;
    margin-left: 200px;
}

.memes-container p {
    font-family: Impact, sans-serif;
    font-size: 27px;
    margin-left: 10px;
    color: darkgray;
}

/*pageConversations*/
body2 {
    font-family: Impact, sans-serif;
}
h1 {
    color: indianred;
    font-size: 40px;
}

p {
    color: wheat;
    font-size: 20px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
}

.image-container img {
    width: 400px; /* Ширина изображения */
    height: 400px; /* Высота изображения */
    margin: 10px; /* Отступ между изображениями */
}

/*pageSchedule*/

body3 {
    font-family: Impact, sans-serif;
}
.schedule-container p {
    font-family: Impact, sans-serif;
    font-size: 50px;
    margin-left: 10px;
    color: indianred;
}

table.rounded-table {
    border-collapse: collapse;
    width: 70%;/*граница таблицы */
    border-radius: 25px; /* Круглые углы */
    overflow: hidden;
    margin: 100px auto;
}

table.rounded-table td {
    font-family: "Comic Sans MS";
    font-size: 20px;
    padding: 25px; /*границы ячеек */
    border-radius: 0px; /* Круглые углы */
    background-color: wheat; /* фон ячеек */
    border: 2px solid; /*  толщина границы 2px */
    border-color: black;
}
body4 {
    font-family: Avenir;
    text-align: left;
}